{% extends 'base.html.twig' %}

{% block body %}
    <h1>STFalcon</h1>
    {{ form_start(form, {'action':path('api_post_photos'),'method':'POST'}) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
